Package: love.litten.batterybuddy
Name: BatteryBuddy ⚡️
Depends: mobilesubstrate
Version: 1.0.2
Architecture: iphoneos-arm
Description: Battery indicator, but cute
Maintainer: cluda
Author: cluda & neilsardesai
Section: Tweaks
